.a1 {
    background-color:  #98d98e;
    height: 120px;
    padding: 20px;
  }
.b1 {
    background-color:  #e4de8a;
    padding-left: 20px;
    height: 120px;
    text-align:left;
    padding: 20px;
    font-size: 18pt
  }
.c1 {
    clear: both;
    background-color:  #cee4ae;
    height: 50px;
    text-align:left;
    font-size: 18pt;
    padding: 20px;
    font-family: Meiryo;
  }
.d1 {
    background-color:  #bcbcff;
    height: 200px;
    text-align:left;
    font-size: 18pt;
    padding: 20px;
    font-family: Meiryo;
  }

.e1 {
    background-color:  #ecde10;
    padding-left: 20px;
    height: 120px;
    text-align:left;
    padding: 20px;
    font-size: 18pt
  }